@import "../../utilities/variables";

.breadcrum {
  padding: 15px 15px 15px 0;
  font-size: 12px;
  &-divider {
    width: 5px;
    margin: 0 5px;
    color: $light-gray;
  }
  a {
    text-decoration: none;
    color: $gray;
  }
  span {
    color: $gray;
    font-weight: bold;
  }
  &-category {
    display: inline;
  }
}
