@import "../../utilities/variables";

.button {
    background-color: $button-blue;
    color: $white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    &:hover{
        background-color: $button-blue-hover;
    }
  }
  