//colors
$white: #fff;
$lightes-gray: #eeeeee;
$light-gray: #8b8b8b;
$gray: #757474c4;
$dark-gray: #333333;
$dark-gray: #242424;
$button-blue: #3483fa;
$button-blue-hover: #2968c8;
$meli-yellow: #fff059;
$fluorecent-green: #22e742;

//sizes
$x-small: 0.625rem;
$small: 0.75rem;
$s-medium: 0.875rem;
$medium: 1rem; //1rem
$large: 1.25rem;
$x-large: 1.5rem;

$desktop-screen: 960px;
