.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #fff461;
  padding: 10px 10px;
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &-logo > img {
    width: 100%;
    height: auto;
    max-width: 50px;
    min-width: 40px;
  }
  &__button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0 3px 3px 0;
  }
  &__image {
    max-width: 18px;
  }
  &__input {
    width: 100%;
    border: none;
    border-radius: 3px 0 0 3px;
    padding-left: 20px;
    outline: none;
  }
  &__search {
    display: flex;
    flex-direction: row;
    width: 70%;
  }
}
