@import "./utilities/variables";

.layout {
  .content {
    background-color: #ebe9e9;
    padding: 0 5%;
    min-height: 93vh;
    @media (min-width: $desktop-screen) {
      padding: 0 20%;
    }
  }
}
